*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: black;
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}
.app{
  color: white;
  border: 2px solid greenyellow;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.display_time{
  font-size: 150px;
  display: inline-block;
  text-align: center;
}

.btn_sec{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 28px;
}
.btn_sec button{
  padding: 8px;
  border-radius: 8px;
  font-size: larger;
  cursor: pointer;
}
.btn_sec button:active{
  scale: .9788;
}